<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>My Trips</title>

    <!--responsive viewport tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Metadata-->
    <meta name="Viaggi" content="organize your travel and let us countdown the days for you">

    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" media="screen" href="style-dashboard.css" />

    <!--Google font-->
</head>

<body>
    <main role="main" aria-live="polite">






    </main>

    <script src= "https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="client.js"></script>
</body>

</html>