<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Please don't go</title>

    <!--responsive viewport tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Metadata-->
    <meta name="Viaggi" content="organize your travel and let us countdown the days for you">

    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" media="screen" href="../public/style-deleteaccnt.css" />

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<body>
    <main role="main" aria-live="polite">

        <nav>
            <h1>VIAGGI</h1>

                <a href="#">My Trips</a>
                <a href="#">My Account</a>
                <a href="#">Sign Out</a>
        </nav>
            




    </main>

    <script src= "https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="client.js"></script>
</body>

</html>