<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Viaggi</title>

    <!--responsive viewport tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Metadata-->
    <meta name="Viaggi" content="organize your travel and let us countdown the days for you">

    <!--Stylesheets-->
    <link href="../public/style-landing-page.css" rel="stylesheet" type="text/css" />


    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

</head>

<body>
    <main role="main" aria-live="polite">
        <section class="landing">
            <header role="heading">
                <h1>VIAGGI</h1>

                <div id="catchy-phrase-container">
                    <p class="catchy-phrase">We love traveling and what more exciting than being able to track it and countdown for it for it in just one app</p>
                    
                </div>
                
                <div id="button-container">
                    <button type="button" class="login-btn btn">Log in</button>
                    <button type="button" class="sign-up-btn btn">Sign up</button>
                </div>
            </header>


        </section>






    </main>

    <script src= "https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="client.js"></script>
</body>

</html>