<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Viaggi</title>

    <!--responsive viewport tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Metadata-->
    <meta name="Viaggi" content="organize your travel and let us countdown the days for you">

    <!--Stylesheets-->
    <link href="../public/style-landing-page.css" rel="stylesheet" type="text/css" />


    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

</head>

<body>
    <section class="landing">
        <header role="heading">
            <h1>VIAGGI</h1>

            <div id="catchy-phrase-container">
                <p class="catchy-phrase">We love traveling and what's more exciting than being able to track your travels and countdown for them in just one app</p>
                
            </div>
            
            <div id="button-container">
                <button type="button" class="login-btn btn">Log in</button>
                <button type="button" class="sign-up-btn btn">Sign up</button>
            </div>
        </header>
    </section>
    <main role="main" aria-live="polite">

        <section id="about-us">
            <h2> What's Viaggi?</h2>
            <p id="we-are">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</p>
        </section>

        <section id="what-we-do-container">

            <div class="what-we-do">
                <div class="image"></div>
                <h3>Keep track of your upcoming trips</h3>
                <p>Add your trip destination with those details that make it exciting for you</p>
            </div>

            <div class="what-we-do">
                <div class="image"></div>
                <h3>No more tracking by hand</h3>
                <p>Just enter the date and like magic...</p>
            </div>

            <div class="what-we-do">
                <div class="image"></div>
                <h3>We’ll count it down for you!</h3>
                <p>Just log in to your dashboard and see how many days for that long needed trip</p>
            </div>
            
            <div class="what-we-do">
                <div class="image"></div>
                <h3>Change of plans?</h3>
                <p>No problem, just edit your trip details in your dashboard</p>
            </div>   
        </section>






    </main>

    <script src= "https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="client.js"></script>
</body>

</html>