<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Viaggi</title>

    <!--responsive viewport tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Metadata-->
    <meta name="Viaggi" content="organize your travel and let us countdown the days for you">

    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" media="screen" href="../public/style-register.css" />

    <!--Google font-->
</head>

<body>
    <main role="main" aria-live="polite">
        
        <section class="landing">

            <header role="heading">
                <h1>VIAGGI</h1>
            </header>

            <div id="catchy-phrase-container">
                <p class="catchy-phrase">Organizer for your travels</p>
                <p class="catchy-phrase">We count it down too...</p>
            </div>

            
            <form id="signup-form" action="/signup/" method ="post">
                <div class="container">
                    <fieldset>
                        <legend><p id="cta">SIGN UP</p></legend>
                        <br>

                        <label for="username"></label>
                        <input type="text" placeholder="username" name="username" required>
                    
                        <label for="Full-Name"></label>
                        <input type="text" placeholder="Enter Email" name="full-name" required>
                    
                        <label for="password"></label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                    
                        <label for="password-repeat"></label>
                        <input type="password" placeholder="Repeat Password" name="password-repeat" required>

                        <button type="submit" class="sign-up-btn">Sign up</button>
                    </fieldset>    
                </div>
                  
                <div id="container-login">
                    <p>Already have an account?</p> 
                    <p id="login"><a href="#"</a>Log in</a></p>
                </div>

            </form>

        </section>
    </main>
    <script src= "https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="client.js"></script>
</body>

</html>