* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
}

body {
    background-image: url("https://images.pexels.com/photos/1536431/pexels-photo-1536431.jpeg");
    width: 100%;
    height: auto;
}

h1 {
    flex: 1 0 auto; 
    text-align: center;
    font-size: 50px;    
    color: white;
}

h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 4%;
}

.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: black;
    height: 500px;
    color: white;
    border-radius: 10px;
}
  
.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
}
  
.topnav #myLinks {
    display: none;
}
  
.topnav a {
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
.topnav a:hover {
    background-color: #3d3e3f;
}
  
.active {
    background-color: #4CAF50;
    color: white;
}

#delete-container {
    margin: auto;
    flex-wrap: wrap;
}

#delete-account-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
}

legend{
    text-align: center;
}


fieldset {
    border: none;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


input, .del-btn {
    width: 240px;
    height: 45px;
    border-radius: 12px;
    text-align: center;
    border: none;
    display: block;
}

input[type=text], input[type=password] {
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    font-size: 15px;
}

#cta {
    font-size: 20px;
    color: white;
    font-weight: bolder;
}

.del-btn {
    background-color: white;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 600px){
    main, nav {
        flex-direction: column;
    }
}


@media (min-width: 700px) {   
    #cta {
        font-size: 35px;
    }
    
    input, .del-btn {
        width: 450px;
        height: 50px;
    }

    main {
        margin-top: 40px;
    }

    h2 {
        font-size: 40px;
    }


    h1 {
        position: relative;
    }

}

