body {
    padding: 0;
    margin: 0;
  }
  
  .landing {
      background: url("https://images.pexels.com/photos/221455/pexels-photo-221455.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 1000px;
  }