* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

body {
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    flex: 1 0 auto; 
    text-align: center;
    font-size: 50px;
}

nav {
    display: flex;
    background-color: black;
    width: 100%;
    align-items: center;
    
}

nav a {
    padding-top: 2%;
    padding-right: 10px;
    text-decoration: none;
}

a:last-child {
    padding-bottom: 10px;
}


h1, nav a {
    color: white;
}


#create-btn {
    width: 150px;
    height: 150px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    background-color: #F3A33A;
    border: none;
}

#button-container {
    margin: auto;
    flex-wrap: wrap;
}

#inst-container {
    padding: 50px;
}

h2 {
    text-align: center;
    font-weight: bolder;
}

/*  .popup-content {
    background-color: white;
    padding: 2%;
    width: 80%;
    margin: 10%;
    border-radius: 10px;
    position: fixed;
    z-index: 3;
    top: 20%;
  }*/

@media screen and (max-width: 600px){
    main, nav {
        flex-direction: column;
    }
}

@media (min-width: 700px) {   

    a:last-child {
        margin-right: 13px;
    }

    nav a {
        padding-left: 1px;
        padding-bottom: 0;
    }

    h1 {
        left: 120px;
        position: relative;
    }

    #create-btn {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: #F3A33A;
        font-size: 30px;
    }

    #button-container {
        margin: auto;
        flex-wrap: wrap;
    }
}

