body {
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    margin: 0;
}

main {
    flex-direction: column;
}
/***********************header*************************/  
.landing {

    background: url("https://images.pexels.com/photos/731217/pexels-photo-731217.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    padding: 5px;
    margin: 0;
}

.catchy-phrase {
    font-size: 20px;
}

h1, .catchy-phrase {
    color: white; 
    text-align: center;
}

#catchy-phrase-container{
    padding: 20px;
}


#button-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.btn {
    width: 200px;
    height: 40px;
    border-radius: 12px;
    text-align: center;
    border: none;
    font-size: 15px;
    margin: 10px;
    background-color: white;
    font-weight: bold;
}
/************************************************/  

/*********************about us***************************/  
p {
    font-size: 16px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

#about-us {
    padding: 5px;
}

#we-are {
    font-size: 20px;
    text-align: center;
    padding: 5px;

}

/************************************************/  

/*********************what we do***************************/  

#what-we-do-container {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around;
}

.what-we-do {
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    border-bottom: dotted black;
}

.what-we-do .image {
    height: 150px;
    width: 100%;
    background: url("././honeymoon.png")
}

h3 {
    display: block;
}

 

/************************************************/  


@media (min-width: 650px) {      
    /***********************header*************************/  
    h1 {
        font-size: 80px;
    }

    .landing {
        height: 600px;
        background: url("https://images.pexels.com/photos/443430/pexels-photo-443430.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        background-size: cover;
    }
    
    #catchy-phrase-container{
        padding: 50px;
    }
    
    .catchy-phrase {
        font-size: 40px;
    }

    .sign-up-btn, .login-btn {
        width: 300px;
        height: 50px;
    }

    #button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .login-btn {
        padding-right: 15px;
        margin-right: 20px;
    }

    .btn {
        font-size: 20px;
    }
    /************************************************/  

    /*********************about us***************************/  
    h2 {
        font-size: 40px;
    }

    #we-are {
        font-size: 30px;
        padding: 20px;
    }

     /************************************************/  

    /*********************what we do***************************/  
    h3 {
        display: block;
        text-align: center;
    }

    .what-we-do {
        border: none;
    }
    
    #what-we-do-container {
        border-bottom: dotted black;
    }







    /************************************************/  

    
}