* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
}

body{
    background-image: url('https://images.pexels.com/photos/1083617/pexels-photo-1083617.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=600');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}





@media (min-width: 700px) {    
    body {
        background-image: url('https://images.pexels.com/photos/221455/pexels-photo-221455.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        height: 900px;
    }

    h1, .catchy-phrase {
        color: white; 
        text-align: center;
    }

    h1 {
        font-size: 80px;
        margin: 0px;
    }

    #catchy-phrase-container{
        padding: 50px;
        text-align: center;
    }

    .catchy-phrase {
        font-size: 40px;
    }

    #cta {
        font-size: 40px;
        color: white;
    }

    /*form*/

    #signup-form{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
    }

    .container {
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 30px;
    }

    input[type=text], input[type=password] {
        padding: 15px;
        margin: 5px 0 22px 0;
        display: block;
        background: #f1f1f1;
        text-align: center;
        font-size: 15px;
    }
    
    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    input, .sign-up-btn {
        width: 475px;
        height: 50px;
        border-radius: 12px;
        text-align: center;
        border: none;
        display: block;
    }
    
    /* Set a style for the submit/register button */
    .sign-up-btn {
        background-color: white;
        color: black;
        font-weight: bolder;
        font-size: 25px;
        margin: 8px 0;
        cursor: pointer;
    }
    
    .sign-up-btn:hover {
        opacity:1;
    }
    
    /* Add a blue text color to links */
    a, p {
        color: white;
    }
    
    /* Set a grey background color and center the text of the "sign in" section */
    legend{
        text-align: center;
    }

    fieldset {
        border: none;
    }

    #container-login {
        text-align: center;
    }
}