* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
}

body {
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    flex: 1 0 auto; 
    text-align: center;
    font-size: 50px;
}

nav {
    display: flex;
    background-color: black;
    width: 100%;
    align-items: center;
}


a:last-child {
    padding-bottom: 10px;
}


nav a {
    padding-top: 2%;
    padding-right: 10px;
    text-decoration: none;
}


h1, nav a {
    color: white;
}

h2 {
    font-weight: bolder;
}

#create-btn {
    width: 70px;
    height: 70px;
    color: white;
    font-weight: bold;
    font-size:  13px;
    border-radius: 50%;
    background-color: #F3A33A;
    border: none;
    order: -1;
}

#button-container {
    flex-wrap: wrap;
    padding-left: 4%;
    padding-top: 4%;
}

#container {
    padding: 50px;
    order: 2;
    width: 70%;

}


@media screen and (max-width: 600px){
     nav {
        flex-direction: column;
    }
}

@media (min-width: 700px) {   

    a:last-child {
        margin-right: 13px;
        padding-bottom: 0; 
    }

    nav a {
        padding-left: 1px;
        padding-bottom: 0;
    }

    h1 {
        left: 120px;
        position: relative;
    }

    h2 {
        text-align: center;
    }


    #create-btn {
        width: 90px;
        height: 90px;
        font-size: 15px;
    }

    #button-container {
    padding: 5%;
    }


    #create-btn {
        width: 100px;
        height: 100px;
        font-size: 20px;
    }

    #container {
        padding: 50px;
        width: 70%;
    }
}

